<template>
    <div class="cart">
        <div class="cart__area">Cart <sup>{{ cart.length }}</sup></div>
        <div class="cart__items">
            <div v-for="item in cart" class="cart-item" :key="item.id">
                <div class="cart-item__name">{{ item.name }}</div>
                <div class="cart-item__price">{{ item.price }}</div>
                <div class="cart-item__quantity">{{ item.quantity }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import { readonly } from 'vue';
import { cart } from '../state';

export default {
    name: "Cart",
    setup() {
        return { cart: readonly(cart) };
    }
}
</script>

<style scoped lang="scss">
.cart {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 12px;
    &__area {
        padding: 12px 15px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 1px solid #4a5568;
        border-top: none;
        /*height: 80px;*/
        &--expanded {
            height: 500px;
        }
    }
    &__items {

    }
}
.cart-item {
    &__name {

    }
    &__price {

    }
    &__quantity {

    }
}
</style>
