<script>
import { ref, readonly } from 'vue';
import { cart } from "../state";

export default {
  name: "Products",
  el: '#products',
  data() {
    return {
      addToCartButtons: false,
    };
  },
  mounted() {
    this.addToCartButtons = document.querySelectorAll('#products .product__add-to-cart');
    if (this.addToCartButtons) {
      for (let i = 0, len = this.addToCartButtons.length; i < len; i++) {
        this.addToCartButtons[i].addEventListener('click', this.nativeAddToCart);
      }
    }
  },
  unmounted() {
    if (this.addToCartButtons) {
      for (let i = 0, len = this.addToCartButtons.length; i < len; i++) {
        this.addToCartButtons[i].removeEventListener('click', this.nativeAddToCart);
      }
    }
  },
  methods: {
    nativeAddToCart(e) {
      const product = e.currentTarget.closest('.product');
      cart.value.push(product.dataset.id);
    },
  },
}
</script>

<style scoped lang="scss">
.spacer {
    &--h10 {
        height: 10px;
    }
}
.page {
    padding: 15px;
    &__title {

    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
        margin-top: -24px;
    }
}
.product {
    width: 300px;
    margin: 0 12px;
    margin-top: 24px;
    &__body {
        border: 1px solid #a0aec0;
        padding: 11px;
        border-radius: 6px;
    }
    &__name {

    }
    &__price {
        font-size: 25px;
        font-weight: bold;
    }
    &__add-to-cart {
        background: darksalmon;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 12px;
    }
}
</style>
