@import url(https://fonts.googleapis.com/css?family=Nunito);
.isLoading{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(133,132,131,.322);display:flex;align-items:center;justify-content:center;font-size:20px;z-index:9999}.spacer--h10{height:10px}.page{padding:15px}.page__content{display:flex;flex-wrap:wrap;margin:-24px -12px 0}.product{width:300px;margin:24px 12px 0}.product__body{border:1px solid #a0aec0;padding:11px;border-radius:6px}.product__price{font-size:25px;font-weight:700}.product__add-to-cart{background:#e9967a;color:#fff;border-radius:5px;cursor:pointer;padding:8px 12px}
